/*
#gen, a, header, #profile, #img, #carousel, #search, .logo, #btn_type, footer,
.up, .down, #left, #right, #see, input, iframe, #narflix, #intro, .intro_button,
#btn_intro_background, #tendances, #lecture, #list,  #serie, #seriep2, #films,
#filmsp2, #docu, #dop2, #bd, #bd2, #manga, #manga2, #outro, #outrop2, #style, table, tr, td, #about {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
*/

/*
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
*/